.user-management-container {
  display: flex;
  flex-direction: column;
  align-items: stretch; 
  width: 100%; 
  height: 100vh; 
  box-sizing: border-box; 
}

.skill-badge {
  display: inline-block;
  background-color: #f0f0f0; 
  color: #333; 
  border-radius: 50px; 
  padding: 5px 10px; 
  margin: 0 5px 5px 0; 
  font-size: 14px; 
}
